@charset "UTF-08";

@font-face {
    font-family: 'ssf4';
    src: url('../fontes/SSF4_ABUKET.woff');
}

@font-face {
    font-family: 'command';
    src: url('../fontes/PILOT_COMMAND.otf');
}

.cabecalho .titulo {
    font-family: 'ssf4', sans-serif;
}
